{{#freestyle-section name='Written style' as |section|}}

    {{#section.subsection name='Voice and tone'}}
        TODO
    {{/section.subsection}}

    {{#section.subsection name='Mechanics'}}
        <h4>Capitalization</h4>
    {{/section.subsection}}

{{/freestyle-section}}
