<div class='Rendered'>
    {{yield (hash
       example=(component 'docs-demo/x-example')
    )}}
</div>
<div class='Snippets'>
    {{yield (hash
       snippet=(component 'docs-demo/x-snippet')
    )}}
</div>