{{#freestyle-section name='Design guidelines' as |section|}}

    {{#section.subsection name='Purpose'}}
        <p>Each page should have a clear purpose and at most one primary action.</p>
        <ul>
            <li>all information on a page should be relevant to its purpose</li>
            <li>all actions on a page should be relevant to its purpose</li>
            <li>the primary action should be easy to find and understand</li>
        </ul>
    {{/section.subsection}}

    {{#section.subsection name='Consistency and contrast'}}
        <p>similar information and actions should look and act similarly</p>
        <p>consistency strengthens the impact of contrast</p>
    {{/section.subsection}}

{{/freestyle-section}}
